<!-- Weer te geven indien niet ingelogd -->
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="login.php">
            Inloggen                           
        </a>
    </li>
</ul>
